# Controller Manager parameters
controller_manager:
  ros__parameters:
    update_rate: 100

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    joint_trajectory_controller:
      type: joint_trajectory_controller/JointTrajectoryController

joint_state_broadcaster:
  ros__parameters:
    use_sim_time: true 

# Joint Trajectory Controller settings
joint_trajectory_controller:
  ros__parameters:
    use_sim_time: true 

    joints:
      - base_link_part1_joint
      - part1_part2_joint
      - part2_part3_joint
      - part3_component_joint
      - component_arm_joint

    interface_name: position

    command_interfaces:
      - position

    state_interfaces:
      - position
      - velocity
